* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  font-family: 'Arial', sans-serif;
}

.containerChat {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 600px;
  height: 100vh;
  max-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.videoPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  width: 100%;
  height: 30vh;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.videoPlayer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.barulho {
  height: 20vw;
  opacity: 1;
  background-image: url(Img/ruido-animado.gif);
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.uploadBtn {
  background-color: red;
  padding: 40px;
  border-radius: 5px;
  pointer-events: auto;
}

.chatMensagens {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fafafa;
}

.conteudoMensagem {
  padding: 12px 18px;
  position: relative;
  border-radius: 16px;
  max-width: 75%;
  word-wrap: break-word;
  background: #f1f1f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  transition: all 0.3s ease;
  animation: slide-in 0.5s ease-out;
}

.conteudoMensagem:hover {
  transform: translateY(-5px);
}

.conteudoMensagem::after {
  content: '';
  position: absolute;
  border: 0.5em solid transparent;
  border-top-color: #3a8f63;
  border-right-color: #3a8f63;
  right: 100%;
  top: 30%;
  transform: skewY(20deg);
  transform-origin: 100% 100%;
}

.user-mesagem {
  display: flex;
  justify-content: flex-end;
}

.user-mesagem .conteudoMensagem {
  background: #3a8f63;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-mesagem .conteudoMensagem::after {
  content: '';
  position: absolute;
  border: 0.5em solid transparent;
  border-top-color: #3a8f63;
  border-right-color: #3a8f63;
  right: 100%;
  top: 30%;
  transform: skewY(20deg);
  transform-origin: 100% 100%;
}


.botMen {
  display: flex;
  justify-content: flex-start;
}

.botMen .conteudoMensagem {
  background: #ececec;
  color: #333;
}

.botMen .conteudoMensagem::after {
  content: '';
  position: absolute;
  border: 0.5em solid transparent;
  border-top-color: #ececec;
  border-left-color: #ececec;
  left: 100%;
  top: 30%;
  transform: skewY(20deg);
  transform-origin: 0% 100%;
}

.inputChat {
  padding: 15px;
  background: #f8f9fa;
  border-top: 1px solid #dcdcdc;
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 0;
  height: 74px;
}

.chatInput {
  flex: 1;
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

.chatInput:focus {
  border-color: #3a8f63;
  outline: none;
}

.enviarBtn {
  padding: 12px 25px;
  background: #3a8f63;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviarBtn:hover {
  background: #2d6a47;
}

.chatMensagens::-webkit-scrollbar {
  width: 6px;
}

.chatMensagens::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 3px;
}

.chatMensagens::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mediaControls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  padding-left: 12px;
  padding-bottom: 5px;
  padding-right: 12px;
}

.mediaControls button {
  all: unset;
  cursor: pointer;
  background-color: #11111100;
  width: fit-content;
}

.mediaControls h3 {
  font-size: 15px;
}

#timestamp {
  margin-left: 10px;
  display: flex;
}

.leftControls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightControls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.gifWindow {
  position: fixed;
  width: 25vw;
  height: 25vh;
  background-color: red;
  bottom: 80px;
}

.hidden {
  display: none;
}