* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}

.containerChat {
  width: 100%;
  max-width: 600px;
  height: 100vh;                
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 0;             
  overflow: hidden;             
}

.videoPlayer {
  background: #000;
  height: 30vh;                 
  color: white;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chatMensagens {
  flex: 1;                      
  padding: 20px;
  overflow-y: auto;             
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fafafa;
}

.conteudoMensagem {
  padding: 12px 14px;
  border-radius: 12px;
  max-width: 75%;               
  word-wrap: break-word;
}

.user-mesagem {
  display: flex;
  justify-content: flex-end;
}

.user-mesagem .conteudoMensagem {
  background: #3a8f63;
  color: white;
}

.botMen {
  display: flex;
  justify-content: flex-start;
}

.botMen .conteudoMensagem {
  background: #ececec;
  color: #333;
}


.inputChat {
  padding: 15px;
  background: #f8f9fa;
  border-top: 1px solid #dcdcdc;

  display: flex;
  gap: 10px;

  position: sticky;             
  bottom: 0;
}

.chatInput {
  flex: 1;
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.enviarBtn {
  padding: 12px 25px;
  background: #3a8f63;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.chatMensagens::-webkit-scrollbar {
  width: 6px;
}
.chatMensagens::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 3px;
}
